
html
{
    height: 100%
}

body {
    height: 100%;
    background-color: #E3D9C3;
    position:absolute; top:0; bottom:0; right:0; left:0;
}

p, form {
    font-size: 20px;
}

.container-fluid {
    height: 100%;
    /*overflow-y: hidden */
    /* don't show content that exceeds my height */
}

.fill-height {
    min-height: 100%;
    margin-top: -55px;
    /*height: auto !important; cross-browser */
    /*height: 100%; cross-browser */
    
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #58808E
}

.navbar-nav > li > a {
    color:#F5F5F5 !important;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* .content {
    min-height: 100%;
} */

.text-content {
    margin-top: 100px;
}